#body {
    background: #2a2a2e;
    font-family: Consolas, monospace;
    font-size: medium;
}

#content {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
}

div.message {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

div.message:hover {
    background: #484b25;
}

div.time {
    color: #9e7bd7;
    padding: 4px;
    align-self: center;
}

div.group {
    color: #e372d0;
    padding: 4px;
    align-self: center;
}

div.user {
    color: #66a2d7;
    padding: 4px;
    align-self: center;
}

div.text {
    color: #eeeeee;
    padding: 4px;
    align-self: center;
}

div.presence-pane {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background: #1b1b1d;
    padding: 5px;
    margin: 5px;
}

div.presence-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.presence-group:hover {
    background: #484b25;
}

div.presence-user {
    color: #66a2d7;
    align-self: center;
    padding-left: 5px;
    padding-right: 10px;
}

div.presence-status {
    font-size: xx-large;
    align-self: center;
    padding-left: 10px;
    padding-right: 5px;
}

.presence-active {
    color: #009000;
}

.presence-idle {
    color: #ac720c;
}

.presence-offline {
    color: darkred;
}

.presence-control {
    grid-row: 1;
    grid-column: 2;
    padding: 5px;
    margin: 5px;
}

#presence-button {
    color: aliceblue;
    padding: 5px;
    background: #1b1b1d;
    border-style: solid;
    border-color: #1b1b1d;
    border-radius: 8px;
}

#presence-button:hover {
    background: #484b25;
}

.history-pane {
    grid-row: 1;
    grid-column: 3;
    padding: 5px;
    margin: 5px;
}

.compose-pane {
    grid-row: 2;
    grid-column: 3; //2 / 4;
    padding: 5px;
    margin: 5px;
}

.compose-label {
    color: #9e7bd7;
}

#select-group {
    background: #1b1b1d;
    color: #eeeeee;
    border: 0;
    font-size: medium;
    padding: 2px;
}

#text-from {
    background: #1b1b1d;
    color: #eeeeee;
    border-width: 0;
    font-size: medium;
    padding: 2px;
}

#text-text {
    background: #1b1b1d;
    color: #eeeeee;
    border-width: 0;
    font-size: medium;
    padding: 2px;
}

.compose-group {
    margin: 5px;
}